*{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font: normal 400 20px Arial, sans-serif;
    box-sizing: border-box;}
@charset "UTF-8";

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;}
